body{
    background-color: #333;
}

.game-container{
    width: 306px;
    height: 306px;
    display: flex;
    flex-wrap: wrap;
}

.gameItem{
    background: #549c7a;
    border: 1px solid black;
    width: 100px;
    height: 100px;
}

.containerConfigs{
    color: white;
}